<div class="form-wrapper">
  <form [formGroup]="searchForm" (submit)="onSubmit()">
    <input type="text" placeholder="search quote" id="str" formControlName="str">
    <button type="submit" [disabled]="!searchForm.valid || isLoading">Send request</button>
  </form>
</div>

  <app-loader [isLoading]="isLoading"></app-loader>

  <div class="quotes-list-wr">
    <p *ngIf="searchListResult">Chuck Norris found:</p>
    <p *ngIf="fetchError">Error has happened. Nothing found</p>
    <div class="quote"
         *ngFor="let item of searchListResult; index as i; trackBy: quoteTrackByFn">
      <p>Joke #{{i + 1}}</p>
      <p>{{item.value}}</p>
    </div>
  </div>
